<div class="modal-header">
  <h5 class="modal-title">Nueva Sugerencia</h5>
  <button
    type="button"
    class="close"
    data-dismiss="modal"
    aria-label="Close"
    (click)="closeModal('dismiss')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 mt-3">
        <label for="">Titulo de la sugerencia</label>
        <input
          type="text"
          class="form-control"
          placeholder="Ingrese un titulo para la sugerencia"
          [(ngModel)]="nombre"
        />
      </div>
      <div class="col-12 mt-3">
        <label for="">Categoria</label>
        <select
          name="categoria_id"
          class="custom-select"
          id="categoria_id"
          [(ngModel)]="categoria"
        >
          <option value="0" hidden>seleccione</option>
          <option *ngFor="let c of categorias" [ngValue]="c?.categoria_id">
            {{ c?.categoria_nombre }}
          </option>
        </select>
      </div>
      <div class="col-12 mt-3">
        <label for="">Descripción</label>
        <textarea
          name="descrip"
          id=""
          class="form-control"
          rows="4"
          [(ngModel)]="descripcion"
          placeholder="Ingrese la descripcion de la sugerencia"
        ></textarea>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="guardarSugerencia()">
    Guardar
  </button>
</div>
