<div class="modal-header">
  <h5 class="modal-title">Nueva Sugerencia</h5>
  <button
    type="button"
    class="close"
    data-dismiss="modal"
    aria-label="Close"
    (click)="closeModal('dismiss')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6">
        <label for="">Categoria</label>
        <select name="" id="" class="custom-select">
          <option value="">Seleccione</option>
          <option value="">Categoria 1</option>
          <option value="">Categoria 2</option>
        </select>
      </div>
      <div class="col-12 mt-3">
        <label for="">Descripción</label>
        <textarea name="descrip" id="" class="form-control" rows="4" [(ngModel)]="descripcion"></textarea>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="guardarSugerencia()">
    Guardar
  </button>
</div>
