<!--El presente archivo es el contenido HTML del componente de una nueva tarea-->

<!--La presente etiqueta es el encabezado del formato para realizar una nueva tarea en determinado curso
y enviarla-->
<div class="modal-header">
  <h5 class="modal-title">{{ tarea ? "Nueva Tarea" : "Nuevo Material" }}</h5>
  <button
    type="button"
    class="close"
    data-dismiss="modal"
    aria-label="Close"
    (click)="closeModal('dismiss')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!--La etiqueta siguiente corresponde al cuerpo del formato para realizar las tareas, con los respectivos
datos de una tarea-->
<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 my-2">
        <label for="">Nombre de la tarea</label>
        <input
          [(ngModel)]="objeto.nombre"
          type="text"
          class="form-control"
          name=""
          id=""
          ngbAutofocus
        />
      </div>
      <div class="col-12 my-2">
        <label for="">Descripcion</label>
        <textarea
          [(ngModel)]="objeto.descripcion"
          class="form-control"
          id=""
          rows="4"
        ></textarea>
      </div>
      // agregar la variable para que se muestre la fecha de entrega
      <div class="col-12 col-lg-6 my-2" *ngIf="tarea">
        <label for="">Fecha de entrega</label>
        <input
          [(ngModel)]="objeto.tarea_fecha_entrega"
          type="date"
          name=""
          class="form-control"
          id=""
        />
      </div>
      <div class="col-12 my-2">
        <div class="input-group">
          <div class="col-12 px-0">
            <label for="formGroupExampleInput">Archivos adicionales:</label>
          </div>
          <div class="custom-file">
            <input
              (change)="subirArvhivos($event)"
              type="file"
              lang="es"
              class="custom-file-input"
              id="file"
              aria-describedby="inputGroupFileAddon04"
            />
            <label class="custom-file-label" for="file">Archivos</label>
          </div>
        </div>
      </div>
      <div class="col-12 my-2" *ngIf="archivos?.length > 0">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-borderless">
                <caption></caption>
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let archivo of archivos; let i = index">
                    <td>{{ archivo?.name }}</td>
                    <td>
                      <button
                        class="btn btn-danger"
                        (click)="eliminarArchivo(i)"
                      >
                        X
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button
    (click)="comprobarTipoMaterial()"
    type="button"
    class="btn btn-primary mr-2"
    *ngIf="!editarTarea"
  >
    Guardar
  </button>
  <button
    (click)="actualizarTarea()"
    type="button"
    class="btn btn-primary"
    *ngIf="editarTarea"
  >
    Actualizar
  </button>
</div>
