<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <div class="alert alert-secondary" role="alert">
        <h3 style="text-align: center;" class="alert-heading">Registrate</h3>
    </div>
    <br/>
    <div class="registerper">
        <div>
        <svg style="display: block; margin: 0 auto;" xmlns="http://www.w3.org/2000/svg" width="200" height="200"
            fill="currentColor" class="bi bi-file-person-fill" viewBox="0 0 16 16">
            <path
                d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11z" />
        </svg>
    </div>
    <br />  
    <div style="display: block; margin: 0 auto; width: 350px;">
        <input class="form-control form-control-lg" type="text" placeholder="Usuario">
    </div>
    </div>
    
    <div class="registersec">
        <form>
            <div style="display: block; margin: 0 auto; width: 350px;">
                <label for="nombre">Nombres :  </label>
                    <input class="form-control form-control-lg" type="text" placeholder="Ingrese sus nombres" id="nombre">
                    <label for="apellidos">Apellidos : </label>
                    <input class="form-control form-control-lg" type="text" placeholder="Ingrese sus apellidos" id="apellido">
                    <label for="nombre">correo : </label>
                    <input class="form-control form-control-lg" type="text" placeholder="Ingrese su correo" id="correo">
                    <label for="pass">contraseña : </label>
                    <input class="form-control form-control-lg" type="password" placeholder="Ingrese su contraseña" id="password">
                    <label for="pass">contraseña : </label>
                    <input class="form-control form-control-lg" type="password" placeholder="Ingrese su contraseña" id="password">
            </div>

        </form>
    </div>
    
    <br />
    <div class="btns">
        <div class="row">
            <div class="col-md-6">
                <button style="display: block; margin: 0 auto;" type="button" class="btn btn-secondary btn-lg"
                    placeholder=".form-control-lg" routerLink="/login">Atras</button>
            </div>
            <div class="col-md-6">
                <button style="display: block; margin: 0 auto;" type="button" class="btn btn-secondary btn-lg"
                    placeholder=".form-control-lg" >Registrar</button>
            </div>
        </div>
    </div>
         
</body>
</html>