<section class="jumbotron text-center">
  <div class="container">
    <h1>CURSOS</h1>
    <p class="lead text-muted">
      Encuentra una gran variedad de cursos de distintas areas como ciencias, idiomas, informatica, letras, etc.
    </p>

  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let cursos of array">
        <a href="#">
         <!--  <h2>{{cursos?.nombre}}</h2>-->
        </a>
        <div class="card mb-4 shadow-sm">
           <!--     <img src=¨{{cursos.?imagen}}¨ class="cuadro__img">-->
          <div class="card-body">
            <p class="card-text">
           <!--    {{cursos?.descripccion}} -->
            </p>


          </div>
        </div>

      </div>
    </div>
  </div>
</div>