/* h2 {
    text-align: center;
}

a {
    text-decoration: none;
}
.cuadro__img{
} */
img {
  height: 180px;
}

/* .my-pagination {
  justify-content: center;
  align-items: center;
  display: flex;
} */
.my-pagination /deep/ .ngx-pagination.responsive {
  padding: 0;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: #18bc9c;
}