<!-- <header class="d-flex flex-wrap justify-content-around py-3 mb-4 border-bottom">
  <a
    routerLink="/"
    class="
      d-flex
      align-items-center
      mb-3 mb-md-0
      me-md-auto
      text-dark text-decoration-none
    "
  >
    <span class="fs-4">Aprende en linea</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a routerLink="/" class="nav-link active" aria-current="page">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/cursos" class="nav-link">Cursos</a>
    </li>
    <li class="nav-item">
      <a routerLink="/sugerencias" class="nav-link">Sugerencias</a>
    </li>
    <li class="nav-item"><a routerLink="/login" class="nav-link">Login</a></li>
    <li class="nav-item d-none"><a href="#" class="nav-link">Profile</a></li>
  </ul>
</header>
 -->

<div
  class="
    d-flex
    flex-column flex-md-row
    align-items-center
    p-3
    px-md-4
    mb-3
    bg-white
    border-bottom
    shadow-sm
  "
>
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <a class="navbar-brand" routerLink="/">Aprende en linea</a>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="nav-item p-2 text-dark" routerLink="/">Home</a>
    <a class="nav-item p-2 text-dark" routerLink="/cursos">Cursos</a>
    <a class="nav-item p-2 text-dark" routerLink="/sugerencias">Sugerencias</a>
    <a class="nav-item p-2 text-dark" routerLink="/perfil">Perfil</a>
  </nav>
  <a class="btn btn-outline-primary" routerLink="/login">Iniciar sesión</a>
</div>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Aprende en linea</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor03"
      aria-controls="navbarColor03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link active" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/cursos" class="nav-link">Cursos</a>
        </li>
        <li class="nav-item">
          <a routerLink="/sugerencias" class="nav-link">Sugerencias</a>
        </li>
      </ul>
      <form class="d-flex">
        <a routerLink="/login" class="btn btn-info">Iniciar sesión</a>
      </form>
    </div>
  </div>
</nav> -->
