<div class="container-lg mt-5">
  <div class="row">
    <div class="col-12 col-md-3 mt-5 d-none d-md-block">
      <div class="list-group">
        <button
          type="button"
          class="
            list-group-item list-group-item-action
            d-flex
            justify-content-between
          "
          aria-current="true"
          (click)="actualizarCategoria(c)"
          *ngFor="let c of categorias"
        >
          <span>{{ c?.categoria_nombre }}</span>
        </button>
      </div>
    </div>
    <div class="col-12 col-md-9 mt-5">
      <div class="d-flex justify-content-between">
        <input
          type="text"
          id=""
          class="form-control mr-4"
          placeholder="Buscar sugerencia"
          [(ngModel)]="sugerenciaFiltro"
          name="sugerenciaFiltro"
          autocomplete="off"
          (keyup)="cambiarPagina()"
        />
        <button class="btn btn-outline-primary" (click)="openModal()">
          Nuevo
        </button>
      </div>

      <div *ngIf="sugerencias?.length > 0">
        <div
          class="card my-3"
          *ngFor="
            let s of sugerencias
              | filter: { sugerencia_nombre_curso: sugerenciaFiltro }
              | paginate: { itemsPerPage: 5, currentPage: pageActual };
            let i = index
          "
        >
          <div class="card-body">
            <div
              class="
                card-title
                d-flex
                justify-content-between
                align-items-center
              "
            >
              <h4 class="">{{ s?.sugerencia_nombre_curso }}</h4>
              <h6 class="card-subtitle text-muted">
                {{ getNombreCategoria(s?.categoria_id) }}
              </h6>
            </div>

            <hr />

            <p class="card-text">
              {{ s?.descripcion }}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <span>{{ s?.sugerencia_fecha_creacion }}</span>
              <span class="h4 align-items-center">
                <button
                  class="btn"
                  [ngClass]="{
                    'btn-outline-danger': !fakeVotacionesEstado[i],
                    'btn-danger': fakeVotacionesEstado[i]
                  }"
                  (click)="cambiarEstado(i)"
                  *ngIf="usuarioRegistrado"
                >
                  <em id="favorito{{ i }}" class="h5 uil uil-heart"></em>
                </button>
                <em
                  id="favorito{{ i }}"
                  class="h5 uil uil-star"
                  *ngIf="!usuarioRegistrado"
                ></em>
                <span class="mx-2 h5 mt-2">{{ s?.numero_votos }}</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3 mb-5" *ngIf="sugerencias?.length > 5">
    <div class="col-12 d-flex flex-row-reverse">
      <ng-container>
        <pagination-controls
          class="my-pagination"
          maxSize="5"
          [responsive]="responsive"
          [previousLabel]="previousLabel"
          [nextLabel]="nextLabel"
          (pageChange)="pageActual = $event"
        ></pagination-controls>
      </ng-container>
    </div>
  </div>
</div>
