<div class="container-lg mt-5">
  <div class="row">
    <div class="col-12 col-md-4 mt-5 d-none d-md-block">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"
            ><em class="uil uil-search"></em
          ></span>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Categoria"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="list-group">
        <button
          type="button"
          class="
            list-group-item list-group-item-action
            d-flex
            justify-content-between
          "
          aria-current="true"
          (click)="actualizarCategoria(c)"
          *ngFor="let c of categorias"
        >
          <span>{{ c?.categoria_nombre }}</span>
          <span class="badge bg-primary text-white p-2">{{
            c?.categoria_id
          }}</span>
        </button>
      </div>
    </div>
    <div class="col-12 col-md-8 mt-5">
      <div class="d-flex justify-content-between">
        <input
          type="text"
          id=""
          class="form-control mr-4"
          placeholder="Buscar sugerencia"
          [(ngModel)]="sugerenciaFiltro"
          name="sugerenciaFiltro"
          autocomplete="off"
          (keyup)="cambiarPagina()"
        />
        <button class="btn btn-outline-primary" (click)="openModal()">
          Nuevo
        </button>
      </div>
      <!-- <div
        class="card my-3"
        *ngFor="
          let s of sugerencias
            | filter: { sugerencia_nombre_curso: sugerenciaFiltro }
            | paginate: { itemsPerPage: 5, currentPage: pageActual }
        "
      > -->
      <div
        class="card my-3"
        *ngFor="
          let s of sugerencias
            | paginate: { itemsPerPage: 5, currentPage: pageActual }
        "
      >
        <div class="card-body">
          <h4 class="card-title">{{ s?.sugerencia_nombre_curso }}</h4>
          <hr />
          <h6 class="card-subtitle mb-2 text-muted">
            {{ getNombreCategoria(s?.categoria_id) }}
          </h6>
          <p class="card-text">
            contenido de la sugerencia. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Asperiores a minus modi maiores? Dolorem esse
            sequi harum incidunt saepe, corporis fuga. Corporis explicabo
            nesciunt deserunt iusto natus porro obcaecati repudiandae.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <span>21/07/2021</span>
            <span class="h4 align-items-center"
              ><em
                id="favorito{{ i }}"
                class="sobre uil uil-star"
                (click)="cambiarEstado(i)"
              ></em>
              <span class="mx-2 h5 mt-2">{{ s?.numero_votos }}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3 mb-5" *ngIf="sugerencias?.length > 5">
    <div class="col-12 d-flex flex-row-reverse">
      <ng-container>
        <pagination-controls
          class="my-pagination"
          maxSize="5"
          [responsive]="responsive"
          [previousLabel]="previousLabel"
          [nextLabel]="nextLabel"
          (pageChange)="pageActual = $event"
        ></pagination-controls>
      </ng-container>
    </div>
  </div>
</div>
