/* .logintxt{ 
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 800;
} 
.loginpass{
    position: relative;
    top: 50px;
    right:110px;
}
.loginbtnG{
    display: flex;
    justify-content: center;
}
.loginbtn1{
    position: relative;
    right: 30px;
    top: 30px;
}   
.loginbtn2{
    position: relative;
    left: 30px;
    top: 30px;
}
.loginform{
    display: flex;
    justify-content: center;
}

.logintx{
    position: relative;
    left: 98px;
}
 */
 .form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
  }