<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
    <h1 class="logintxt">Login</h1>
    <br/>
    <div class="logintxt">
        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-file-person-fill" viewBox="0 0 16 16">
            <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11z"/>
        </svg>  
    </div>
    <br/>
    <form class="loginform">
        <div class="logintx">
            <input type="text" placeholder="UserName">
        </div>
        <br/><br/>
        <div class="loginpass">
            <input type="password" placeholder="Password">
        </div>       
    </form>
    <br/><br/>
    <div class="loginbtnG">
        <div class="loginbtn1">
            <button type="button" class="btn btn-primary" routerLink="/">Login</button>
        </div>
        <div class="loginbtn2">
            <button type="button" class="btn btn-primary" routerLink="profile">Register</button>
        </div>
    </div>          
</body>
</html>
<!--<a class="link" routerLink="/login/profile">Perfil del usuario</a>-->
<!--<router-outlet></router-outlet>-->
