<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="alert alert-secondary" role="alert">
        <h3 style="text-align: center;" class="alert-heading">Login</h3>
    </div>
    <br />
    <div>
        <svg style="display: block; margin: 0 auto;" xmlns="http://www.w3.org/2000/svg" width="200" height="200"
            fill="currentColor" class="bi bi-file-person-fill" viewBox="0 0 16 16">
            <path
                d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11z" />
        </svg>
    </div>
    <br />
    <form>
        <div style="display: block; margin: 0 auto; width: 350px;">
            <input class="form-control form-control-lg" type="text" placeholder="Ingrese su correo">
        </div>
        <br />
        <div style="display: block; margin: 0 auto; width: 350px;">
            <input class="form-control form-control-lg" type="password" placeholder="Ingrese su contraseña">
        </div>
    </form>
    <br />
    <div class="row">
        <div class="col-md-6">
            <button style="display: block; margin: 0 auto;" type="button" class="btn btn-secondary btn-lg"
                placeholder=".form-control-lg" routerLink="/">Iniciar Sesion</button>
        </div>
        <div class="col-md-6">
            <button style="display: block; margin: 0 auto;" type="button" class="btn btn-secondary btn-lg"
                placeholder=".form-control-lg" routerLink="register">Registrate</button>
        </div>
    </div>
</body>

</html>