<!-- Se crea contenedor con el ancho de la pantalla -->
<div class="container-fluid">
  <!-- Se crea un fila para el contenido -->
  <div class="row my-3">
    <!-- Se crea un columna con doce espacios -->
    <div class="col-12 d-flex justify-content-between">
      <!-- Input para buscar material del curso -->
      <input
        type="text"
        name=""
        id=""
        class="form-control mr-3"
        placeholder="Buscar material"
      />
      <!-- Se cierra la etiqueta del input -->

      <!-- Botón para crear un nuevo material -->
      <button
        class="btn btn-info"
        (click)="openModal()"
        *ngIf="usuarioProfesor"
      >
        Nuevo
      </button>
      <!-- Se cierra la etiqueta del botón de crear material -->
    </div>
    <!-- Se finaliza la columna -->
  </div>
  <!-- Se cierra la fila -->

  <!-- Se crear tarjeta para mostrar cada material -->
  <div class="card bg-light my-4" *ngFor="let c of material">
    <!-- Se crea la cabera del material con el titulo -->
    <div class="card-header">{{c?.nombre}}</div>
    <!-- Se cierra la etiqueta -->
    <div class="card-body">
      <!-- Se añade la descripcion del material -->
      <p class="card-text">
        {{c?.descripcion}}
      </p>
      <!-- Se cierra la etiqueta del material -->
    </div>
    <!-- Se cierra el cuerpo de la tarjeta -->
  </div>
  <!-- Se cierra la tarjeta del material -->
</div>
<!-- Se cierra el contenedor general -->
