<div class="container-fluid">
  <div class="row my-3">
    <div class="col-12 d-flex flex-row-reverse">
      <button
        class="btn btn-info"
        (click)="openModal()"
        *ngIf="usuarioProfesor"
      >
        Nuevo
      </button>
    </div>
  </div>
  <div class="card bg-light my-4" *ngFor="let c of material">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Light card title</h4>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
</div>
