<div class="container">
  <div
    class="row"
    *ngIf="notificaciones?.length == 0 && solicutdAcceso?.length == 0"
  >
    <div class="col-12">
      <div class="card">
        <h4 class="py-3 px-4">No tiene ninguna notificación</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12" *ngFor="let c of solicutdAcceso">
      <div class="card border-primary mb-3">
        <div class="card-header d-flex justify-content-between">
          <h5>{{ c.curso_nombre }}</h5>
          <button class="btn btn-secondary">X</button>
        </div>
        <div class="card-body">
          <p class="card-text">El usuario {{ c?.usuario_nombre }} desea unirse a su curso. </p>
          <div class="d-flex flex-row-reverse">
            <button
              class="btn btn-danger"
              (click)="darBloquearAcceso(2, c.curso_id, c.usuario_id)"
            >
              Rechazar
            </button>
            <button
              class="btn btn-primary mr-2"
              (click)="darBloquearAcceso(1, c.curso_id, c.usuario_id)"
            >
              Unirme
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12" *ngFor="let c of solicutdAcceso2">
      <div class="card border-primary mb-3">
        <div class="card-header d-flex justify-content-between">
          <h5>{{ c?.curso_nombre }}</h5>
          <button class="btn btn-secondary">X</button>
        </div>
        <div class="card-body">
          <p class="card-text">{{ c?.usuario_nombre }} </p>
          <div class="d-flex flex-row-reverse">
            <button
              class="btn btn-danger"
              (click)="aceptarInvitacion(2, c.curso_id, c.usuario_id)"
            >
              Rechazar
            </button>
            <button
              class="btn btn-primary mr-2"
              (click)="aceptarInvitacion(1, c.curso_id, c.usuario_id)"
            >
              Aceptar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12" *ngFor="let c of notificaciones">
      <div class="card border-primary mb-3">
        <div class="card-header d-flex justify-content-between">
          <h5>Nombre curso</h5>
          <button class="btn btn-secondary">X</button>
        </div>
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="d-flex flex-row-reverse">
            <button class="btn btn-danger">Rechazar</button>
            <button class="btn btn-primary mr-2">Unirme</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
