/* esticlo para la etiqueta p */
p#texto{
	text-align: center;
    margin-bottom: 0px;
	color:white;
}
/* esticlo para la etiqueta div_file */
div#div_file{
	position:relative;
	width:120px;
	background-color: #2499e3;
    border-radius:5px;
    box-shadow:0px 3px 0px #1a71a9;
}
/* esticlo para la el boton al momento de enviar el mensaje*/
input#btn_enviar{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	width:100%;
	height:100%;
	opacity: 0;
}