<div class="container">
  <div class="row my-3">
    <div class="col-12 d-flex justify-content-between">
      <input
        type="text"
        name=""
        id=""
        class="form-control mr-3"
        [(ngModel)]="tareaFiltro"
        placeholder="Buscar tarea"
      />
      <button
        class="btn btn-info"
        (click)="openModal()"
        *ngIf="usuarioProfesor"
      >
        Nuevo
      </button>
    </div>
    <div class="col-12" *ngIf="tareas?.length > 0">
      <div
        id="accordion"
        class="card-expansion mt-3"
        *ngFor="let t of tareas | filter: { nombre: tareaFiltro }"
      >
        <div class="card card-expansion-item">
          <div
            class="
              card-header
              border-0
              d-flex
              justify-content-between
              align-items-center
            "
            id="{{ 'heading' + t }}"
          >
            <span>{{ t.nombre }}</span>
            <div>
              <button
                *ngIf="usuarioProfesor"
                class="btn btn-primary mr-2"
                (click)="openModalEntregas(t)"
              >
                <span>Ver entregas</span>
              </button>
              <button
                *ngIf="usuarioProfesor"
                class="btn btn-primary mr-2"
                data-toggle="modal"
                data-target="#exampleModal"
              >
                <span>Notificar</span>
              </button>
              <button
                class="btn btn-primary"
                data-toggle="collapse"
                [attr.data-target]="'#collapse' + t.tarea_id"
                aria-expanded="false"
                aria-controls="{{ 'collapse' + t.tarea_id }}"
              >
                <span>Mas infromación</span>
              </button>
            </div>
          </div>
          <div
            id="{{ 'collapse' + t.tarea_id }}"
            class="collapse"
            aria-labelledby="{{ 'heading' + t.tarea_id }}"
            data-parent="#accordion"
          >
            <div class="container m-3">
              <div class="row">
                <div class="col-12">
                  {{ t.descripcion }}
                </div>
                <div
                  class="col-12 col-md-6 ml-auto m-4"
                  *ngIf="!usuarioProfesor"
                >
                  <div class="input-group">
                    <div class="custom-file">
                      <input
                        type="file"
                        lang="es"
                        class="custom-file-input"
                        id="inputGroupFile04"
                        aria-describedby="inputGroupFileAddon04"
                      />
                      <label class="custom-file-label" for="inputGroupFile04"
                        >Elige el archivo</label
                      >
                    </div>
                    <div class="input-group-append">
                      <button
                        class="btn btn-outline-dark"
                        type="button"
                        id="inputGroupFileAddon04"
                      >
                        Entregar
                      </button>
                    </div>
                  </div>
                </div>
                <div
                  class="col-12 d-flex flex-row-reverse my-4"
                  *ngIf="usuarioProfesor"
                >
                  <button
                    class="btn btn-outline-dark mr-4"
                    type="button"
                    (click)="editarTarea(t)"
                  >
                    Editar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Notificar Alumnos</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Mensaje para los alumnos: </span>
        <div></div>
        <br />
        <textarea name="" id="" class="form-control" rows="5"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </div>
</div>
