<!-- Se declara un contenedor -->
<div class="container-md">
  <!-- Se declaran las filas  -->
  <div class="row mt-3 mt-md-0">
    <!-- Se declaran las columnas -->
    <div class="col-10">
      <!-- Este input sera par ingresar el nombre del curso a buscar -->
      <input
        type="text"
        class="form-control"
        placeholder="Buscar curso"
        [(ngModel)]="nombreFiltro"
        name="cursoFilter"
        autocomplete="off"
        (keyup)="cambiarPagina()"
      />
    </div>
    <!-- Se declara una columna flexible -->
    <div class="col-2 d-flex flex-row-reverse">
      <!-- Boton para unirse a un curso -->
      <button class="btn btn-outline-info" (click)="unirseCurso()">
        Unirse
      </button>
    </div>
  </div>
  <!-- Se declara una fila -->
  <div class="row mt-3" *ngIf="cursos?.length > 0">
    <!-- Se declaran columnas para los cursos -->
    <div
      class="col-12 col-sm-6"
      *ngFor="
        let c of cursos
          | filter: { curso_nombre: nombreFiltro }
          | paginate: { itemsPerPage: 6, currentPage: pageActual }
      "
    >
      <!-- Se declara una carta con borde primario -->
      <div class="card border-primary mb-3" id="curso">
        <!-- Se declara el header de la carta -->
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <!-- Titulo de la carta -->
          <h5 class="align-items-center">{{ c?.curso_nombre }} 
            <br>
            <small *ngIf="c?.privacidad_id==1" class="align-items-center">Privacidad: Publico </small>
            <small *ngIf="c?.privacidad_id==2" class="align-items-center">Privacidad: Privado </small>
            <small *ngIf="c?.privacidad_id==5" class="align-items-center">Privacidad: Invitacion </small>
          </h5>
          <!-- Menu de la carta -->
          <ul class="navbar-nav ml-auto">
            <!-- Item del menu de la carta -->
            <li class="nav-item dropdown" *ngIf="c?.usuario_id === usuarioId">
              <!-- Hipervinculo del item del menu de la carta -->
              <a
                class="nav-link align-items-center"
                href="/profiel"
                id="dropdown01"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <span class="ml-2 h5 text-primary"
                  ><em class="uil uil-ellipsis-v"></em
                ></span>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <button class="dropdown-item" (click)="editarCurso(c)">
                  Editar
                </button>
                <button class="dropdown-item" (click)="mostrarCodigo(c)">
                  Obtener Código
                </button>
              </div>
            </li>
          </ul>
        </div>
        <!-- Cuerpo de la carta -->
        <div class="card-body d-flex flex-column justify-content-between">
          <img
            src="{{ c?.imagen }}"
            alt=""
            id="imagen"
            class="w-100 mb-3 imagen-borde"
            *ngIf="c?.imagen != null; else noimagen"
          />
          <!-- Imagen de la carta -->
          <ng-template #noimagen>
            <img
              src="https://dev-res.thumbr.io/libraries/65/79/65/lib/1607077330930_1.jpg?size=854x493s&ext=jpg"
              alt=""
              class="w-100 mb-3 imagen-borde"
            />
          </ng-template>
          <!-- Descripcion  -->
          <p class="card-text">
            {{ c?.descripcion }}
          </p>
          <!-- Enlace a mas informacion del curso -->
          <div class="d-flex flex-column">
            <a
              [routerLink]="['/cursos/curso', c?.usuario_id, c?.curso_id]"
              class="btn btn-warning"
              >Ver</a
            >
            <!-- Botton para descargar la lista de alumnos -->
            <button
              class="btn btn-success mt-2"
              *ngIf="c?.usuario_id === usuarioId"
              (click)="descargarlista(c?.curso_id)"
            >
              Descargar lista de alumnos
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Paginacion -->
  <div class="row mt-5 mb-3" *ngIf="cursos?.length > 6">
    <div class="col d-flex flex-row-reverse">
      <ng-container>
        <!-- Control de la paginacion -->
        <pagination-controls
          class="my-pagination"
          maxSize="5"
          [responsive]="responsive"
          [previousLabel]="previousLabel"
          [nextLabel]="nextLabel"
          (pageChange)="pageActual = $event"
        ></pagination-controls>
      </ng-container>
    </div>
  </div>
</div>
