/* Estilos para la imagen */
.img {
  height: 250px;
}

/* estilos para el id imagen */
#imagen {
  z-index: 1;
}

/* estilos para el contenido */
#contenido {
  z-index: 10;
}

/* estilos para la tarjeta */
.card {
  height: 300px;
}
